.noticias {
  margin-top: 7.5rem;
}
.noticias-item {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  overflow: scroll;
  align-items: center;
  min-width: 5rem;
}
.noticias-item img {
  max-width: 25rem;
}
/*Tamanho da lista de notícias escolares*/
.tamanho {
  width: 25rem;
  height: 20rem;
}
@media (max-width: 50rem) {
  /*800px*/
  .noticias {
    margin-top: 3.75rem;
  }
}
@media (max-width: 25rem) {
  .noticias-item img,
  .noticias-item iframe {
    width: 15rem;
  }
  .noticias-item iframe {
    height: 10rem;
  }
}
